#gallery-section {
  background-color: lightsalmon;

  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  
  flex: 1;
  align-content: start;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.gallery-item {
  aspect-ratio: 1;
  background-color: greenyellow;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.gallery-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px;
}

.sticker {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#no-results-notif {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-column: 1/-1;
  justify-self: center;

  margin: auto;
  height: 40vh;
}

#no-results-notif img {
  width: 200px;
  margin: auto;
}

#no-results-msg {
  margin: auto;
}

#download-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 20%;
}