#home-body-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(254, 255, 216); */

  box-sizing: border-box;
  
  flex: 1;
}

#about-body-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(189, 250, 194); */

  box-sizing: border-box;
  
  flex: 1;
  overflow: auto;
}

.big-display-valk {
  height: 100%;
  object-fit: contain;
  margin: 0px 10px;
}

.landing-page-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: scroll;
}

.info-blurb {
  padding: 10px;
}