#nav-section {
  background-color: lightblue;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
}

#nav-dropdown {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 10%;
}

#sticker-set {
  width: 90%;
  height: 80%;
}

#nav-icons {
  display: inherit;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  width: 90%;
  overflow-x: auto;
}

.chibi-icon {
  height: 90%;
  margin: 0px 5px;
}