#header-section {
  background-color: peachpuff;
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: left;
  align-items: center;
  text-align: center;
}